.container{
  width:100%;
  
}

.container2{
  display: flex;
  padding: 139px 380px 131px 380px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;

}
.buttons{
  display: flex;
align-items: flex-start;
flex-wrap: nowrap;
gap: 32px;
}

#b11{
  color: var(--white, #FFF);
  background: var(--indigo-600, #4F46E5);
  border: none;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
#b12{
  color: var(--white, #FFF);
  background: var(--indigo-600, #4F46E5);
  border: none;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
#b13{
  color: var(--white, #FFF);
  background: var(--indigo-600, #4F46E5);
  border: none;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
#b14{
  color: var(--white, #FFF);
  background: var(--indigo-600, #4F46E5);
  border: none;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

#b15{
  color: var(--white, #FFF);
  background: var(--indigo-600, #4F46E5);
  border: none;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

#b21{
  color:var(--indigo-700, #4338CA);
  background-color:var(--indigo-100, #E0E7FF);
  border: none;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
#b22{
  color:var(--indigo-700, #4338CA);
  background-color:var(--indigo-100, #E0E7FF);
  border: none;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
#b23{
  color:var(--indigo-700, #4338CA);
  background-color:var(--indigo-100, #E0E7FF);
  border: none;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
#b24{
  color:var(--indigo-700, #4338CA);
  background-color:var(--indigo-100, #E0E7FF);
  border: none;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
#b25{
  color:var(--indigo-700, #4338CA);
  background-color:var(--indigo-100, #E0E7FF);
  border: none;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

#b31{
 background-color:  var(--white, #FFF);
  border: none;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

#b32{
  background-color:  var(--white, #FFF);
   border: none;
 box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
 }
 #b33{
  background-color:  var(--white, #FFF);
   border: none;
 box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
 }
 #b34{
  background-color:  var(--white, #FFF);
   border: none;
 box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
 }
 #b35{
  background-color:  var(--white, #FFF);
   border: none;
 box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
 }






.first{
  /* color: var(--white, #FFF); */
  /* text-xs/leading-4/font-medium */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;


padding: 7px 11px;
justify-content: center;
align-items: center;
border-radius: 4px;
/* background: var(--indigo-600, #4F46E5); */
/* shadow/sm */
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
text-wrap:nowrap;

}
.second{
  

  /* text-sm/leading-4/font-medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */

  display: flex;
  padding: 9px 13px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;

/* shadow/sm */
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
text-wrap:nowrap;
}

.third{
 

  /* text-sm/leading-5/font-medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */

  display: flex;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;


/* shadow/sm */
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
text-wrap:nowrap;

}

.fourth{

  

  /* text-base/leading-6/font-medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */

  display: flex;
padding: 9px 17px;
justify-content: center;
align-items: center;
border-radius: 6px;


/* shadow/sm */
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  text-wrap:nowrap;
}

.fifth{
  

/* text-base/leading-6/font-medium */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
  display: flex;
padding: 13px 25px;
justify-content: center;
align-items: center;
border-radius: 6px;


/* shadow/sm */
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
text-wrap:nowrap;
}